body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* LOGIN */
.main-login {
  align-items: center;
  border: 5px solid green;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.login-container {
  align-items: center;
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  height: 40vh;
  justify-content: center;
  padding: 30px;
}

.login-container label {
  padding: 1px;
}

.login-container input {

  /* border: 1px solid blue; */
  border-radius: 8px;
  margin-left: 4px;
}


.red-border {
  border: 3px solid red;
}

.green-border {
  border: 3px solid rgb(6, 240, 15);
}
